{
  "presets": [
    "@babel/preset-env"
  ],
  "ignore": [
    "*.sh",
    "*.md"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
